a{
    text-decoration: none;
    color: black;
}
input{
    border: none;
}
body{
	background-color: rgb(245,245,245);
}
.wrap{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.top{
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    display: flex;
	background-color: white;
}
.arrowleft{
    font-size: 30px;
    color: rgb(119,119,119);
    position: absolute;
    left: 10px;
    top: 5px;
}
.top h2{
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}
.wrap{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.wrap .identify{
    width: 100%;
	
    display: flex;
}
.wrap .identify p{
    font: 12px;
    color: gray;
    line-height: 40px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.identify_status{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: white;
}
.identify_status .tel{
    width: 80%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 50px;
    padding-bottom: 5px;
    display: flex;
	margin-left: 10%;
	margin-right: 10%;
}
.identify_status .yzm{
    width: 80%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
	margin-left: 10%;
	margin-right: 10%;	
}
.identify_status input{
    flex: 1;
    
}
.identify_status input{
    flex: 1;
    
}
.denglu{
    width: 80%;
    /* height: 15%; */
    border-radius: 30px;
    line-height: 45px;
    background-image: linear-gradient(to right, rgb(255,110,24), rgb(254,37,29));
    margin-top: 40px;
    margin-bottom: 40px;
	margin-left: 10%;
	margin-right: 10%;	
}