@font-face {
  font-family: 'iconfont';  /* project id 2259554 */
  src: url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.eot');
  src: url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.woff') format('woff'),
  url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2259554_csvwkv96d6l.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

