

.swap{
	width: 98%;
	margin-left: 1%;
}

.top_tittle{
	width: 100%;
	text-align: center;
	position: relative;
	margin-top: 20px;
}

.top_tittle h1{
	font-size: 1.25rem;
	font-weight: bold;
}

.top_tittle span{
	position: absolute;
	top: 0;
	left: 30px;
	font-size: 1.25rem;
}

.nav{
	margin-top: 20px;
}

.nav ul{
	display: flex;
	justify-content: space-around;
}

.nav ul li{
	line-height: 30px;
}


.nav ul li a{
	font-size: 18px;
	position: relative;
}

.nav ul li a span{
	position: absolute;
	top: -4px;
	right: -4px;
}

.nav ul li a:hover{
	color: red;
}

.nav ul li a select{
	/* padding: 0; */
	/* position: relative; */
	appearance: none;
	border: none;
	font-size: 16px;
	color: cadetblue;
	/* border: 1px solid black; */
	/* width: 15%; */
}

.nav_seach{
	width: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	background-color: #d9d9d9;
	height: 60px;
	line-height: 60px;
	/* padding-left: 5%; */
	/* /* padding-right: 5%; */ */
}

.nav_seach p{
	color: #626262;
	margin-left: 5%;
	font-size: 1.125rem;
}

.nav_seach .nav_seach_type{
	margin-right: 5%;
	cursor: pointer;
	font-size: 1.125rem;
	color:  #626262;
}

.iconfont.icon-type1 {
    color: red;
}

.nav_seach_type span:hover{
	color: red;
}

.goods{
	margin-top: 10px;
}

.goods ul{
	display: flex;
	flex-direction: column;
}

.goods ul li {
	line-height: 1.875rem;
	margin-top: 10px;
	border-bottom: 1px solid aqua;
}

.goods ul li a{
	display: block;
	display: flex;
}

.goods ul li a .goods_image{
	margin-left: 5%;
	margin-right: 5%;
	width: 120px;
	/* height: 200px; */
	height: auto;
}

.goods_image img{
	width: 100%;
}

.goods_inmation{
	height: auto;
	flex: 1;
}

.goods_price{
	display: flex;
	justify-content: space-between;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1rem;
	color: red;
}

.goods_price span{
	display: block;
	position:relative ;
}

.goods_price span input[type="submit"]{
	position: absolute;
	top: 0;
	left:-8px ;
	width: 1.25rem;
	opacity: 0.0;
	cursor: pointer;
	border: none;
	background: none;
	
}