a{
    text-decoration: none;
    color: black;
}
input{
    border: none;
}
.wrap{
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top{
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
}
.arrowleft{
    font-size: 30px;
    color: rgb(119,119,119);
    position: absolute;
    left: 10px;
    top: 5px;
}
.top h2{
    line-height: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
}
.logo{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 40%;
    /* height: 30%; */
    display: block;
    box-shadow: 5px 5px 6px;
    color: gray;
}
.login{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    
}
.login .tel{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
    
}
.login .psd{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
}
.login .repsd{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
}
.login .yzm{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(245, 245, 245);
    margin-top: 30px;
    padding-bottom: 5px;
    display: flex;
}
.tel input{
    /* width: 100%; */
    flex: 1;
    
}
.yzm input{
    flex: 1;
}
.psd input{
    flex: 1;
    
}
.repsd input{
    flex: 1;
    
}

.wjmm{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
}
.denglu{
    width: 100%;
    /* height: 15%; */
    border-radius: 30px;
    line-height: 45px;
    background-image: linear-gradient(to right, rgb(255,110,24), rgb(254,37,29));
    margin-top: 40px;
    margin-bottom: 40px;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
}